<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MakeYouEco</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/MakeYouEco</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	<servlet>
		<servlet-name>ProductDao</servlet-name>
		<servlet-class>mye.makeyoueco.model.ProductDao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDao</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchOrder</servlet-name>
		<servlet-class>mye.makeyoueco.model.SearchOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchOrder</servlet-name>
		<url-pattern>/search_orders</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchUser</servlet-name>
		<servlet-class>mye.makeyoueco.model.SearchUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchUser</servlet-name>
		<url-pattern>/search_users</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddressPaymentDao</servlet-name>
		<servlet-class>mye.makeyoueco.model.AddressPaymentDao</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressPaymentDao</servlet-name>
		<url-pattern>/information</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/add-to-cart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAccountServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.CreateAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAccountServlet</servlet-name>
		<url-pattern>/create-account</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/user-login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/log-out</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuantityIncDecServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.QuantityIncDecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuantityIncDecServlet</servlet-name>
		<url-pattern>/quantity-inc-dec</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoveFromCartServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.RemoveFromCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveFromCartServlet</servlet-name>
		<url-pattern>/remove-from-cart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckOutServlet</servlet-name>
		<servlet-class>mye.makeyoueco.control.CheckOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckOutServlet</servlet-name>
		<url-pattern>/cart-check-out</url-pattern>
	</servlet-mapping>


	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

</web-app>